.header-container {
    padding-top: 40px;
    display: block;
    background-image: url(../img/pattern.png);
    background-size: 240px;
    background-color: #4ea0ff;

    
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-top: 40px;
    height: 50px;
}
.heading {
    display: block;
    line-height: 10px;
 
}
.autore {
    display: block;
    line-height: 5px;
    color: grey;
}
.data {
    display: block;
    line-height: 0px;
    color: grey;
    font-size: 8px;
}

.bool {
    color: aqua;
}

.caption {
    display: block;
    font-size: 10px;
}
.highlight {
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    text-align: left;
    width: 10px;
  }
  td {
    text-align: left;
    padding: 2px;
    width: 10px;
    word-wrap: break-word;
           
  }
  
  tr:nth-child(even){background-color: rgb(149, 235, 246)}
  
  th {
    background-color: #57bff4;
    color: white;
  }
  .imghead {
    display: block;
    padding: 7px;
    color:grey;
    font-weight: bold;
    
  }
  .bottom-imgs1 , .bottom-imgs2 {
    display: block;
    position: relative;
    
  }
.caption2 {
   position: absolute;
   font-size: 20px;
   font-weight: bold;
   color: white;
   top: 15px;
   left: 30px;

}
  