.header.container {
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-color: aquamarine
    width: 700px;
    padding: 100px;
    margin: auto;
    
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: left;
}